.profile {
  margin: 0 auto;
  background-color: black;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardcont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imgavatar {
  border-radius: 30px;
  width: 100px;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.name {
  font-size: 36px;
  margin-bottom: 6px;
  color: #fff;
  margin-top: 0px;
}
.tag {
  text-align: center;
  font-size: 16px;
  color: #ffff21;
  margin-bottom: 6px;
}
.location {
  color: #fff;
  font-size: 18px;
}
.statscont {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}
.stat {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statspan {
  color: #1ff1ff;
}
